* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div {
    display: block;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}  

.borderedContainer{
    box-shadow: 0 2px 10px rgb(0, 0, 0 / 25%);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color:  rgb(211, 193, 193);
  
}

.product{
    box-shadow: 0 2px 10px rgb(0, 0, 0 / 25%);
    float: left;
    margin: 10px;
    padding: 20px;
     width: 350px;
     border-radius: 5px;
     background-color:  rgb(177, 166, 166);
     display: flex;
    
}

img {
    /* float: left; */
    margin: 10px;
    width: 120px;
    height: 250px;
    object-fit: cover;
    border: 1px solid rgb(102, 64, 64);
    border-radius: 5px;

}

.descContainer {
    padding: 10px;
    width: 100%;
    max-height: 300px;
    text-align: center;

}

.title{
    color: rgb(63, 60, 60);

}


.addToCartButton {
    background-color: skyblue;
    padding: 5px 25px;
    color: white;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    min-height: 40px;
    border: 1px solid;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.quantityButton {
            min-width: 20px;
            border: 1px solid #222;
            font-family: 'Times New Roman', Times, serif;
            width: 120px;
            border-radius: 40px;
            margin: 0 auto;
            margin-top: 80px;

}

.quantityButton span{
        font-size: 18px;
        margin: 15px;

}

.quantityButton button {
    top: 0;
    width: 30px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border: 0;
    background: 0 0;
    font-weight: 500;
    cursor: pointer;
}

.filterButton {
    color: #fff;
    cursor: pointer;
    margin: 2px;
    padding: 5px;
    background-color: #56cfe1;
    
}


.filterButton:hover {
    background-color: #2a808d;

}

.filterButtonActive {
    background-color: #2a808d;
}

.cartContainer {
    width: 250px;
    float: right;
}

.cartTotalPriceContainer{
        text-align: center;
        padding: 10px;

}

.cartTotalPrice {
    font-weight: 700;
    font-size: 30px;
    color: #33a716;
}

.cartItemRemoverButtonContainer {
    float: right;
    margin-top: 20px;
    margin-right: 5px;

}

.cartItem {
    background-color: #e3f5f9;
    display: block;
    height: 75px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.cardContainer .title {
    text-align: center;
    margin-bottom: 10px;
}